window  { background-color: -moz-Field; }

button.fileItem { 
  -moz-appearance: none;
  background-color: -moz-Field;
  border: 0px !important;
  margin: 0px !important;
  /* padding: 0px !important; */
  -moz-box-orient: vertical;
}
